
h2{
    
    height : 90px;
    position: relative;
    top : 50px;
}

body{
    
    text-align: center;
    height: 1200px;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.div_container {

    margin-top:60px;
    margin-left: 700px;
    width:600px;
    height:920px;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    text-align: center;
    background-color: #FFFACD;
    border-radius : 20px;
    box-shadow: 10px 10px 10px lightgray;

}
.div_center{
	display : inline-block;

}
.div_flex{
	display: flex;	
	margin: 40px 0px;
}
.div_left{
	width : 500px; 

	color : black;
}

.div_button{
	width : 500px;
	text-align: center;
	display : inline-block;	
}
#button_number{
	width:123px;
}

#button_number,#receive_button{
	margin-left:10px;
	font-weight: bold;
}
#button_move{
	width : 123px;
	font-weight: bold;
}
.passImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 70px;
    margin-top: -10px;
    cursor: pointer;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.box {
    display: block;
    width: 380px;
    height: 50px;
    padding: 10px 14px 10px 14px;
    position: relative;
}
#find_button{
	font-weight: bold;
	width:120px;
    margin-top : -50px; 
    margin-left: 275px;
    height : 35px;  
     

}
#normal_button{
    width:120px;
	font-weight: bold;
}
.div_number{
	margin-top : -60px;
}
.div_zip{
	margin-top : 100px;
}
#receive_button{
	
	font-weight: bold;
	width:120px;
	height : 35px;
	position : relative;
	top : -30px;
	left : 210px;

}
#button_number{
	margin-left: 20px;
	font-weight: bold;
	width:120px;
	height : 35px;
	position : relative;
	top: 5px;

}
.div_left{
	margin-top : 15px;
}
#resign_button{
    width:120px;
	font-weight: bold;
}
.div_right{
	width  : 270px;

}
.passImg{
	position: relative;
	left : 120px;
	top : -22px;
}

#div_detail{
	width : 400px;
}
.auth_check{
	position : relative !important;
	left : 8px !important;
	top : 7px !important;
	
}
#button_number{
	position : relative !important;
	left : 205px !important;
	top : -32px;
}
h1 {
  font-size: 30px; line-height: 1.4;
  font-family: 'Jua', sans-serif;
  text-align: center; margin: auto;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 300px; height: 100px;
  color: #fff;
}


.div_container *{
	color : black;
	font-weight : bold;
}
.return_Page{
	position : relative;
	top: 30px;
	left : -230px;
}















